* {
    box-sizing: border-box;
}

html,  body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-family: sans-serif;
}

/* Custom styles */
.progress {
    background-color: white;
    padding: 1.5rem;
    border-radius: 5px;
    width: 100%;
    max-width: 768px;
    min-width: 320px;
    box-shadow: 1px 1px 2px gray;
}

.steps {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.step {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.steps::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background-color: lightgray;
}

.bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0%;
    height: 5px;
    background-color: purple;
    transition: width .5s ease-in-out;

}

.step.active {
    border-width: 4px;
    border-color: purple;
}

.navigation {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.button {
    padding: .5rem;
    cursor: pointer;
    border-radius: .2rem;
    background-color: purple;
    color: white;
    border: none;
    font-size: 1.1rem;
}

.button:disabled {
    opacity: .5;
    cursor: initial;
}